 body {
   font-size: $lr-font-size;
   font-weight: $lr-font-weight;
   font-family: $lr-font-family;
   line-height: $lr-line-height;
   letter-spacing: $lr-letter-spacing;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: $lr-heading-font-family;
   font-weight: $lr-heading-font-weight;
   line-height: $lr-heading-line-height;
 }

 h1 {
   @include lr-font-size('xxl');
 }

 h2 {
   @include lr-font-size('xl');
 }

 h3 {
   @include lr-font-size('lg');
 }

 h4 {
   @include lr-font-size('md');
 }

 h5 {
   @include lr-font-size('sm');
 }

 h6 {
   @include lr-font-size('xs');
 }