.lr-o-flag {
    display: table;
    width: 100%;
}

:not([class^='lr-o-flag\@'])>.lr-o-flag__component,
:not([class^='lr-o-flag\@'])>.lr-o-flag__body {
    display: table-cell;
}

.lr-o-flag__component,
.lr-o-flag__body {
    vertical-align: middle;
}

.lr-o-flag__body {
    width: 100%;
}