.lr-o-grid {
  display: flex;
  flex-wrap: wrap;
}

.lr-o-grid__item {
  position: relative;
}

.lr-o-grid--spaced {
  margin-left: -$lr-spacing-unit;
  margin-top: -$lr-spacing-unit;
}

.lr-o-grid--spaced>.lr-o-grid__item {
  padding-left: $lr-spacing-unit;
  padding-top: $lr-spacing-unit;
}

.lr-o-grid--center {
  justify-content: center;
}

.lr-o-grid--valign-center {
  align-items: center;
}

.lr-o-grid--valign-bottom {
  align-items: flex-end;
}

.lr-o-grid__item {
  width: 100%;
}