.lr-o-list {
    display: flex;
    flex-direction: column;
}

.lr-o-list--inline {
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
}

@each $breakpoint in map-keys($lr-breakpoints) {
    @include lr-respond-to($breakpoint) {
        .lr-o-list--inline\@#{$breakpoint} {
            flex-wrap: wrap;
        }
    }
}

@each $breakpoint in lr-reverse-list(map-keys($lr-breakpoints)) {
    @include lr-respond-to($breakpoint) {
        .lr-o-list--inline\@max-#{$breakpoint} {
            flex-wrap: wrap;
        }
    }
}

.lr-o-list--bare {
    margin: 0;
    padding: 0;
    list-style: none;
}