.lr-u-soft {
    padding: $lr-spacing-unit;
}

.lr-u-soft-bottom {
    padding-bottom: $lr-spacing-unit;
}

.lr-u-soft-left {
    padding-left: $lr-spacing-unit;
}

.lr-u-soft-left-double {
    padding-left: $lr-spacing-unit-double;
}