/* Generate non responsive widths first, responsive widths have more weight */

@for $i from 1 through 10 {
    @include rp-generate-width-fraction-classes($i);
}

$breakpoint-keys: map-keys($rp-breakpoints);
$reverse-breakpoint-keys: rp-reverse-list($breakpoint-keys);
/* Need to min-width responsive classes smallest first to ensure the largest responsive size class takes precedent */

@each $breakpoint in $reverse-breakpoint-keys {
    @include rp-respond-to('#{$breakpoint}') {
        $extension: \@#{$breakpoint};
        @for $i from 1 through 10 {
            @include rp-generate-width-fraction-classes($i, $extension);
        }
    }
}

/* Need to min-width responsive classes largest first to ensure the smallest responsive size class takes precedent */

@each $breakpoint in $breakpoint-keys {
    @include rp-respond-to('max-#{$breakpoint}') {
        $extension: \@max-#{$breakpoint};
        @for $i from 1 through 10 {
            @include rp-generate-width-fraction-classes($i, $extension);
        }
    }
}