.lr-c-card {
    border: 1px solid darken($lr-color-light, 20%);
    padding: $lr-spacing-unit;

    background-color: $lr-color-light;
}

.lr-c-card--dark {
    background-color: $lr-color-dark;
    color: $lr-color-light;
}