.lr-c-card {
    border: 1px solid darken($color-light, 20%);
    padding: $lr-spacing-unit;

    background-color: $color-light;
}

.lr-c-card--dark {
    background-color: $color-dark;
    color: $color-light;
}