.lr-c-contact-info-panel {
    display: flex;
    height: 100%;

    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
}

.lr-c-contact-info-panel__social-media-buttons {
    align-self: center;
}