.lr-c-experience__left {
    padding-right: $lr-spacing-unit;
    text-align: end;
    @include lr-respond-to('max-sm') {
        text-align: start;
    }
}

.lr-c-experience__right {
    padding-left: $lr-spacing-unit;
    text-align: start;

    @include lr-respond-to('max-sm') {
        padding-left: 0;
    }
}