.lr-c-navbar {
  height: $navbar-height;
  position: relative;
  z-index: 1;
}

.lr-c-navbar__inner {
  height: $navbar-height;
  position: fixed;
  vertical-align: middle;
  background-color: $navbar-background-color;
}

.lr-c-navbar__brand {
  display: inline;
  padding: $lr-spacing-unit;
  white-space: nowrap;
  @include lr-font-size('lg');
}

.lr-c-navbar__links {
  float: right;
  @include lr-respond-to('max-sm') {
    position: fixed;
    max-height: 0;
    width: 100%;
    top: $navbar-height;
    left: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
  }
}

.lr-c-navbar__item {
  display: inline-block;
  padding: $lr-spacing-unit;
  text-decoration: none;
  color: $navbar-color;
  text-align: center;
}

.lr-c-navbar__links>.lr-c-navbar__item {
  @include lr-respond-to('max-sm') {
    display: block;
    width: 100%;
  }
}

.lr-c-navbar__toggle {
  float: right;
  display: block;
  height: $navbar-height;
  padding: $lr-spacing-unit;
  background-color: $navbar-background-color;
  cursor: pointer;
  @include lr-respond-to('sm') {
    display: none;
  }
}

.lr-c-navbar__overlay {
  position: fixed;
  top: $navbar-height;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  width: 100%;
  background-color: $navbar-background-color;
  opacity: 0.8;
  transition: all 0.3s ease-in;
}

.lr-c-navbar.is-open .lr-c-navbar__overlay {
  @include lr-respond-to('max-sm') {
    height: 100%;
  }
}

.lr-c-navbar.is-open .lr-c-navbar__links {
  @include lr-respond-to('max-sm') {
    max-height: 100%;
    overflow-y: auto;
  }
}

.lr-c-navbar__item:hover,
.lr-c-navbar__toggle:hover {
  color: darken($navbar-color, 20%);
  cursor: pointer;
}

.lr-c-navbar__item:active,
.lr-c-navbar__toggle:active {
  color: darken($navbar-color, 10%);
}