$lr-spacing-unit: 1rem !default;
$lr-spacing-unit-double: $lr-spacing-unit * 2;
$lr-spacing-unit-half: $lr-spacing-unit * 0.5;
$lr-spacing-unit-quarter: $lr-spacing-unit * 0.25;

$lr-breakpoints: (
  xs: 480px,
  sm: 720px,
  md: 960px,
  lg: 1200px
) !default;

$lr-site-wrap-size: 70rem !default;

$lr-offset-denominators: (
  1, 2, 3, 4, 5, 6, 7, 8, 9, 10
) !default;

$lr-aspect-ratios: (
  3: 2,
  4: 3,
  16: 9,
) !default;

$lr-layers: (
  navbar: 1,
  dialog: 2
) !default;