$lr-font-size: 1rem !default;
$lr-font-weight: 400 !default;
$lr-font-family: arial !default;
$lr-line-height: 1.3 !default;
$lr-letter-spacing: normal !default;

$lr-heading-font-family: Helvetica Neue, Calibri Light, Roboto,  sans-serif !default;
$lr-heading-font-weight: 600 !default;
$lr-heading-line-height: 1.5 !default;

$lr-font-sizes: (
  xxs: 80%,
  xs: 90%,
  sm: 100%,
  md: 125%,
  lg: 150%,
  xl: 175%,
  xxl: 200%
) !default;

$lr-font-multipliers: (
  default: 90%,
  xs: 90%,
  sm: 100%,
  md: 100%,
  lg: 110%
) !default;